%h2
  Simulate adding some data to the central database
%p
%a{href: "/completely_clear_data"}
  Completely clear data
%br
%a{href: "/reset_data"}
  Reset data to sample default
%br
%a{href: "/display_upload_screen"}
  Append one or more records to the current data
%br
%a{href: "/return_sample_data/a/b.json"}
  Display current sample data as JSON
