.container-fluid
  %h3
    Sprayer controls
%form.ml-2.ml-sm-2.ml-md-2.ml-lg-4.ml-xl-4
  .row
    .col-12.col.md-12.col-lg-6.col-xl-6.pl-6
      %a.btn.btn-primary{href: "/display_select_weed_screen"}
        Select Weeds to kill
    .col-lg-6.col-xl-6.pl-6
  .row
    .col-12.col.md-12.col-lg-6.col-xl-6.pl-6
      %a.btn.btn-primary{href: "/display_statistics_screen"}
        View Statistics
    .col-lg-6.col-xl-6.pl-6
