.container-fluid
  %h3
    Statistics
%form.ml-2.ml-sm-2.ml-md-2.ml-lg-4.ml-xl-4
  %p
    Pump usage: 321
  %p
    Weed count: 1020
  %p
    Crop count: 3323
  %form
    .row
      %button.btn.btn-primary{type: "submit"}
        Transmit and clear counts
    .row
      %a.btn.btn-secondary{href: "/display_main_screen"}
        Back to main screen
