.container-fluid
  %h3
    Enter JSON to append to current data and submit.
  %p
    Replace the sample entry in the box with whatever (single JSON hash or JSON list of hashes) you wish to append.
  =form_tag("/upload_data", method: :put) do
    =text_area_tag("json_entry", '{"serial_number":"SAMPLESN","lon":-122.008973,"lat":37.334901,"timestamp":"2019-02-03 17:17:31 UTC","radish":2,"pea":150,"marigold":3,"morning_glory":6,"pump_time":9}', rows: 15, cols: 60)
    %br
    =submit_tag("Append hash to current list", class: "btn btn-primary")
