%h2
  Add or erase some data to the central database
%p
%a{href: "/completely_clear_data"}
  Completely clear data
%br
%a{href: "/display_upload_screen"}
  Append one or more records to the current data
%br
%a{href: "/return_data/a/b.json"}
  Display data as JSON
