.container-fluid
  %h3
    Check plants to kill
  %form.ml-2.ml-sm-2.ml-md-2.ml-lg-4.ml-xl-4
    .spud
      .row.form-check.col-12.col.md-12.col-lg-6.col-xl-6.pl-6
        %input.form-check-input.mw-100{ type: "checkbox", id:"exampleCheck1", name: "radish_select" }
        %label.btn.btn-success.mw-100{ for: "exampleCheck1" }
          Radish
      .row.form-check.col-12.col.md-12.col-lg-6.col-xl-6
        %input.form-check-input.mw-100{ type: "checkbox", id: "exampleCheck2", name: "pea_select" }
        %label.btn.btn-success.mw-100{ for: "exampleCheck2"}
          Pea
      .row.form-check.col-12.col.md-12.col-lg-6.col-xl-6
        %input.form-check-input.mw-100{ type: "checkbox", id:"exampleCheck3", name: "morning_glory_select" }
        %label.btn.btn-success.mw-100{ for: "exampleCheck3" }
          Morning Glory
      .row.form-check.col-12.col.md-12.col-lg-6.col-xl-6
        %input.form-check-input.mw-100{ type: "checkbox", id: "exampleCheck4", name: "marigold_select"}
        %label.btn.btn-success.mw-100{ for: "exampleCheck4"}
          Marigold
      %button.btn.btn-primary{type: "submit"}
        Confirm

:javascript
  $('.form-check-input').change(function() {
    if (this.checked) {
        $('label[for="' + this.id + '"]').removeClass("btn-success").addClass("btn-danger");
    } else {
        $('label[for="' + this.id + '"]').removeClass("btn-danger").addClass("btn-success");
    }
  });
